src/main/resources/META-INF/xsd/volume.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017-2018 shaokang All Rights Reserved
  -->

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.marmot.com/core/schema/volume"
        xmlns:lns="http://www.marmot.com/core/schema/volume"
        elementFormDefault="qualified">

    <element name="volume">
        <annotation>
            <documentation><![CDATA[数据统计基础配置]]></documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="description" minOccurs="0">
                    <annotation>
                        <documentation><![CDATA[说明]]]></documentation>
                    </annotation>
                </element>
                <element ref="lns:dataBase" maxOccurs="unbounded" minOccurs="0"/>
                <element ref="lns:dataVolume" maxOccurs="unbounded" minOccurs="0"/>
                <element ref="lns:columnVolume" maxOccurs="unbounded" minOccurs="0"/>
            </sequence>
        </complexType>

        <unique name="dataBaseUnique">
            <selector xpath="lns:dataBase"/>
            <field xpath="@name"/>
        </unique>

        <unique name="dataVolumeNameUnique">
            <selector xpath="lns:dataVolume"/>
            <field xpath="@volumeName"/>
        </unique>
        <unique name="dataVolumeCodeUnique">
            <selector xpath="lns:dataVolume"/>
            <field xpath="@volumeCode"/>
        </unique>

        <unique name="columnVolumeNameUnique">
            <selector xpath="lns:columnVolume"/>
            <field xpath="@volumeName"/>
        </unique>
        <unique name="columnVolumeCodeUnique">
            <selector xpath="lns:columnVolume"/>
            <field xpath="@volumeCode"/>
        </unique>
        <unique name="columnVolumeColumnCodeUnique">
            <selector xpath="lns:columnVolume"/>
            <field xpath="@columnCode"/>
        </unique>
    </element>

    <element name="dataBase">
        <annotation>
            <documentation><![CDATA[数据集数据源配置]]></documentation>
        </annotation>
        <complexType>
            <attribute name="name" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源名称]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="url" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源地址]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="userName" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源用户名]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="password" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源密码]]>
                    </documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

    <element name="dataColumn">
        <annotation>
            <documentation><![CDATA[数据集 数据字段]]></documentation>
        </annotation>
        <complexType>
            <attribute name="columnName" type="string">
                <annotation>
                    <documentation>
                        <![CDATA[数据字段名称]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="columnCode" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据字段编码]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="columnLabel" type="string">
                <annotation>
                    <documentation>
                        <![CDATA[
	                        <li>字段标记 用于标记字段 使用场景：用户使用数据集字段生成数据时，根据用户识别的出该字段必须使用于过滤，分组。但无需用户选择时使用,业务逻辑处理。该标签自定义</li>
	                        <li>字段标签若不存在,表示用户可以选择该字段,字段标签存在,于用户匹配的标签对应的字段无需用户选择,逻辑处理,也无需展示</li>
	                        <li>根据具体业务场景,可自行穷举枚举</li>
	                        <li>例：商户用户登陆，图表过滤、分组必须存在商户ID,merchant（商户标记）,department（部门标记）</li>
	                    /]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="screenColumn" type="string">
                <annotation>
                    <documentation>
                        <![CDATA[ 筛选字段 数据过滤时 显示字段和筛选字段非同一个字段时使用 该筛选字段必须在数据集对应sql中体现 默认和columnCode保持一致]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="columnFilter" type="boolean" default="false">
                <annotation>
                    <documentation>
                        <![CDATA[ 字段过滤- 数据过滤时,字段是否可参与过滤]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="columnHidden" type="boolean" default="false">
                <annotation>
                    <documentation>
                        <![CDATA[字段隐藏-在做数据仪表盘时不显示]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="columnEscape" type="boolean" default="false">
                <annotation>
                    <documentation>
                        <![CDATA[是否需要字段转换 例如 字段值枚举code 需要转换成message]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="columnIndex" type="boolean" default="false">
                <annotation>
                    <documentation>
                        <![CDATA[是否为角标字段,用于模型统计时抓取数据角标定位]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="columnMask" type="boolean" default="false">
                <annotation>
                    <documentation>
                        <![CDATA[字段掩码-针对敏感字段掩码处理]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="unitValue" type="double" default="0">
                <annotation>
                    <documentation>
                        <![CDATA[单位换算 - 乘法 为零 表示不参与计算]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="content" type="string">
                <annotation>
                    <documentation>
                        <![CDATA[描述]]>
                    </documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>
    <element name="dataVolume">
        <annotation>
            <documentation><![CDATA[数据集 配置数据集 用于做数据统计以及数据查询]]></documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="lns:dataColumn" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
            <attribute name="volumeName" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据集名称]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="volumeCode" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据集编码]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="volumeType" use="required">
                <simpleType>
                    <annotation>
                        <documentation><![CDATA[数据集类型]]></documentation>
                    </annotation>
                    <restriction base="string">
                        <enumeration value="model">
                            <annotation>
                                <documentation>
                                    <![CDATA[统计模型]]>
                                </documentation>
                            </annotation>
                        </enumeration>
                        <enumeration value="sql">
                            <annotation>
                                <documentation>
                                    <![CDATA[sql脚本]]>
                                </documentation>
                            </annotation>
                        </enumeration>
                        <enumeration value="custom">
                            <annotation>
                                <documentation>
                                    <![CDATA[自定义]]>
                                </documentation>
                            </annotation>
                        </enumeration>
                    </restriction>
                </simpleType>
            </attribute>
            <attribute name="dbName" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源名称]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="sqlScript" type="string">
                <annotation>
                    <documentation>
                        <![CDATA[sql脚本]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="volumeLimit" type="long" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据集数据量]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="content" type="string">
                <annotation>
                    <documentation>
                        <![CDATA[数据集描述]]>
                    </documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

    <element name="columnVolume">
        <annotation>
            <documentation><![CDATA[字段数据集 配置字段数据集 用于做字段的数据查询以及筛选]]></documentation>
        </annotation>
        <complexType>
            <attribute name="volumeName" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据集名称]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="volumeCode" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据集编码]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="volumeType" use="required">
                <simpleType>
                    <annotation>
                        <documentation><![CDATA[数据集类型]]></documentation>
                    </annotation>
                    <restriction base="string">
                        <enumeration value="enums">
                            <annotation>
                                <documentation>
                                    <![CDATA[枚举]]>
                                </documentation>
                            </annotation>
                        </enumeration>
                        <enumeration value="sql">
                            <annotation>
                                <documentation>
                                    <![CDATA[sql脚本]]>
                                </documentation>
                            </annotation>
                        </enumeration>
                    </restriction>
                </simpleType>
            </attribute>
            <attribute name="columnCode" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[字段编码]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="dbName" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源名称]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="columnValueCode" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[字段值编码]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="columnShowCode" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[字段展示编码]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="script" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[脚本-sql/枚举类路径]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="content" type="string">
                <annotation>
                    <documentation>
                        <![CDATA[数据集描述]]>
                    </documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>
</schema>