src/main/resources/META-INF/xsd/volume.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017-2018 shaokang All Rights Reserved
  -->

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.shaokang.com/core/schema/volume"
        xmlns:lns="http://www.shaokang.com/core/schema/volume"
        elementFormDefault="qualified">

    <element name="volume">
        <annotation>
            <documentation><![CDATA[数据统计基础配置]]></documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="description" minOccurs="0">
                    <annotation>
                        <documentation><![CDATA[说明]]]></documentation>
                    </annotation>
                </element>
                <element ref="lns:dataBase" maxOccurs="unbounded" minOccurs="0"/>
                <element ref="lns:dataVolume" maxOccurs="unbounded" minOccurs="0"/>
                <element ref="lns:columnVolume" maxOccurs="unbounded" minOccurs="0"/>
            </sequence>
        </complexType>
        <unique name="dataBaseUnique">
            <selector xpath="lns:dataBase"/>
            <field xpath="@name"/>
        </unique>
        <unique name="dataVolumeNameUnique">
            <selector xpath="lns:dataVolume"/>
            <field xpath="@volumeName"/>
        </unique>
        <unique name="dataVolumeCodeUnique">
            <selector xpath="lns:dataVolume"/>
            <field xpath="@volumeCode"/>
        </unique>
        <unique name="columnVolumeUnique">
            <selector xpath="lns:columnVolume"/>
            <field xpath="@columnCode"/>
        </unique>
    </element>

    <element name="dataBase">
        <annotation>
            <documentation><![CDATA[数据集数据源配置]]></documentation>
        </annotation>
        <complexType>
            <attribute name="name" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源名称]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="url" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源地址]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="userName" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源用户名]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="password" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源密码]]>
                    </documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

    <element name="dataVolume">
        <annotation>
            <documentation><![CDATA[数据集 配置数据集 用于做数据统计以及数据查询]]></documentation>
        </annotation>
        <complexType>
            <attribute name="volumeName" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据集名称]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="volumeCode" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据集编码]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="volumeType" use="required">
                <simpleType>
                    <annotation>
                        <documentation><![CDATA[数据集类型]]></documentation>
                    </annotation>
                    <restriction base="string">
                        <enumeration value="model">
                            <annotation>
                                <documentation>
                                    <![CDATA[统计模型]]>
                                </documentation>
                            </annotation>
                        </enumeration>
                        <enumeration value="sql">
                            <annotation>
                                <documentation>
                                    <![CDATA[sql脚本]]>
                                </documentation>
                            </annotation>
                        </enumeration>
                    </restriction>
                </simpleType>
            </attribute>
            <attribute name="dbName" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源名称]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="sqlScript" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[sql脚本]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="volumeLimit" type="long" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据集数据量]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="content" type="string">
                <annotation>
                    <documentation>
                        <![CDATA[数据集描述]]>
                    </documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

    <element name="columnVolume">
        <annotation>
            <documentation><![CDATA[字段数据集 配置字段数据集 用于做字段的数据查询以及筛选]]></documentation>
        </annotation>
        <complexType>
            <attribute name="volumeType" use="required">
                <simpleType>
                    <annotation>
                        <documentation><![CDATA[数据集类型]]></documentation>
                    </annotation>
                    <restriction base="string">
                        <enumeration value="enums">
                            <annotation>
                                <documentation>
                                    <![CDATA[枚举]]>
                                </documentation>
                            </annotation>
                        </enumeration>
                        <enumeration value="sql">
                            <annotation>
                                <documentation>
                                    <![CDATA[sql脚本]]>
                                </documentation>
                            </annotation>
                        </enumeration>
                    </restriction>
                </simpleType>
            </attribute>
            <attribute name="columnCode" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[字段编码]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="dbName" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[数据源名称]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="columnValueCode" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[字段值编码]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="columnShowCode" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[字段展示编码]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="script" type="string" use="required">
                <annotation>
                    <documentation>
                        <![CDATA[脚本-sql/枚举类路径]]>
                    </documentation>
                </annotation>
            </attribute>
            <attribute name="content" type="string">
                <annotation>
                    <documentation>
                        <![CDATA[数据集描述]]>
                    </documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>
</schema>